h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
/* -----------------------------------------
   Header styles
----------------------------------------- */
#header .navbar .navbar-brand .text-logo-element {
  margin-left: 20px;
}
#header .navbar .navbar-brand .text-logo,
#header .navbar .navbar-brand .text-slogan {
  font-size: 17px;
}
#header .navbar .navbar-brand .text-logo {
  text-transform: none;
}
/* -----------------------------------------
   Body styles
----------------------------------------- */
body.login-page #login #logo {
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -125px;
  /* width of the logo devided by 2 */
}
body.login-page #login #logo .text-logo-element {
  font-size: 32px;
  color: #1a608f;
  margin-left: 34px;
  margin-right: 10px;
  margin-top: -8px;
}
body.login-page #login #logo .text-logo,
body.login-page #login #logo .text-slogan {
  font-weight: bold;
  font-family: 'Droid Sans';
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 15px;
  display: inline-block;
}
body.login-page #login #logo .text-logo {
  color: #124363;
  text-transform: none;
}
body.login-page #login #logo .text-slogan {
  color: #ffffff;
}
/* -----------------------------------------
   Validation styles
----------------------------------------- */
.custom-error-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
span.field-validation-error span.custom-error-block {
  font-weight: bold;
}
.form-horizontal div.has-error .control-label,
.form-inline div.has-error .control-label {
  color: #f68484;
}
.form-horizontal div.has-error .form-control,
.form-inline div.has-error .form-control {
  border-color: #f68484;
}
.form-horizontal div.has-error .form-control:focus,
.form-inline div.has-error .form-control:focus {
  border-color: #f68484;
}
.form-horizontal div.has-error .help-block,
.form-inline div.has-error .help-block,
.form-horizontal div.has-error .custom-error-block,
.form-inline div.has-error .custom-error-block {
  color: #f68484;
}
.form-horizontal div.has-success .control-label,
.form-inline div.has-success .control-label {
  color: #71d398;
}
.form-horizontal div.has-success .form-control,
.form-inline div.has-success .form-control {
  border-color: #71d398;
}
.form-horizontal div.has-success .form-control:focus,
.form-inline div.has-success .form-control:focus {
  border-color: #71d398;
}
/* -----------------------------------------
   Cookie Notifications
----------------------------------------- */
.eu-cookie-bar-notification {
  display: none;
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100000;
  background: #e0e0da;
  color: #5C5B5B;
  margin: 0px;
  height: 50px;
}
.eu-cookie-bar-notification .content {
  padding: 0px 10px;
  margin: 10px 0px;
  zoom: 1;
}
.eu-cookie-bar-notification .content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.eu-cookie-bar-notification .content .text {
  padding-top: 5px;
  text-align: center;
}
/* -----------------------------------------
   Datatables
----------------------------------------- */
table.table thead .hasSorting {
  cursor: pointer;
}
table.table thead .hasSorting i {
  font-weight: normal;
  font-style: normal;
  color: #ef8d1b;
}
table.table thead .hasSorting i:before {
  margin-right: 7px;
}
table.table tbody tr td hr {
  background-color: #999999;
  border: 0;
  height: 1px;
}
table.table.child-table thead tr {
  background-color: #ffffff;
}
table.table.child-table thead tr th {
  border-bottom-width: 1px;
}
table.table.child-table tbody td,
table.table.child-table tbody tfoot {
  font-size: 13px;
}
table.table.child-table tbody td {
  border-left: 1px solid #e7e7e2;
}
table.table.child-table tbody td:first-child {
  border-left: none;
}
/* -----------------------------------------
    Buttons
----------------------------------------- 
.btn
{
    i
    {
        margin-right: 4px;
    }
}*/
/* ------------------ text align helpers --------------------*/
.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
/* ------------------ no Border raidus helper --------------------*/
.nbtlr {
  border-top-left-radius: 0px;
}
.nbtrr {
  border-top-right-radius: 0px;
}
.nbblr {
  border-bottom-left-radius: 0px;
}
.nbbrr {
  border-bottom-right-radius: 0px;
}
.nbrall {
  border-radius: 0px !important;
}
/* ------------------ Backgrounds --------------------*/
.light-gray-bg {
  color: #768399;
  background-color: #fcfcfd;
}
/* -----------------------------------------
    Account/Security 
----------------------------------------- */
body.login-page #login .login-wrapper .select-avatar {
  border-radius: 4px;
  width: 52px;
  height: 52px;
  margin: 2px;
  cursor: pointer;
}
body.login-page #login .login-wrapper .select-avatar.selected {
  border: solid 1px #71d398;
}
/* -----------------------------------------
    Status & Priority colors
----------------------------------------- */
ul.dropdown-menu.enum-menu li a {
  width: 200px;
}
.enum i {
  font-size: 12px;
  color: #79859b;
}
.enum i.normal {
  font-size: 16px;
}
.enum.all .text {
  color: #75b9e6;
}
.enum.all .bg,
.enum.all.bg {
  color: #ffffff;
  background-color: #75b9e6;
}
.enum.all i {
  color: #75b9e6;
}
.enum.all.time:after {
  color: #ffffff;
  background-color: #75b9e6;
}
.enum.draft .text {
  color: #79859b;
}
.enum.draft .bg,
.enum.draft.bg {
  color: #ffffff;
  background-color: #79859b;
}
.enum.draft i {
  color: #79859b;
}
.enum.draft.time:after {
  color: #ffffff;
  background-color: #79859b;
}
.enum.pendingapproval .text,
.enum.pending .text,
.enum.normal .text,
.enum.warning .text,
.enum.open .text {
  color: #f4b162;
}
.enum.pendingapproval .bg,
.enum.pending .bg,
.enum.normal .bg,
.enum.warning .bg,
.enum.open .bg,
.enum.pendingapproval.bg,
.enum.pending.bg,
.enum.normal.bg,
.enum.warning.bg,
.enum.open.bg {
  color: #ffffff;
  background-color: #f4b162;
}
.enum.pendingapproval i,
.enum.pending i,
.enum.normal i,
.enum.warning i,
.enum.open i {
  color: #f4b162;
}
.enum.pendingapproval.time:after,
.enum.pending.time:after,
.enum.normal.time:after,
.enum.warning.time:after,
.enum.open.time:after {
  color: #ffffff;
  background-color: #f4b162;
}
.enum.active .text,
.enum.delivered .text,
.enum.medium .text,
.enum.on .text {
  color: #71d398;
}
.enum.active .bg,
.enum.delivered .bg,
.enum.medium .bg,
.enum.on .bg,
.enum.active.bg,
.enum.delivered.bg,
.enum.medium.bg,
.enum.on.bg {
  color: #ffffff;
  background-color: #71d398;
}
.enum.active i,
.enum.delivered i,
.enum.medium i,
.enum.on i {
  color: #71d398;
}
.enum.active.time:after,
.enum.delivered.time:after,
.enum.medium.time:after,
.enum.on.time:after {
  color: #ffffff;
  background-color: #71d398;
}
.enum.archived .text,
.enum.customclearance .text,
.enum.fatal .text,
.enum.intesting .text {
  color: #e65097;
}
.enum.archived .bg,
.enum.customclearance .bg,
.enum.fatal .bg,
.enum.intesting .bg,
.enum.archived.bg,
.enum.customclearance.bg,
.enum.fatal.bg,
.enum.intesting.bg {
  color: #ffffff;
  background-color: #e65097;
}
.enum.archived i,
.enum.customclearance i,
.enum.fatal i,
.enum.intesting i {
  color: #e65097;
}
.enum.archived.time:after,
.enum.customclearance.time:after,
.enum.fatal.time:after,
.enum.intesting.time:after {
  color: #ffffff;
  background-color: #e65097;
}
.enum.deleted .text,
.enum.railout .text,
.enum.shipout .text,
.enum.high .text,
.enum.error .text,
.enum.off .text,
.enum.closemanually .text {
  color: #f68484;
}
.enum.deleted .bg,
.enum.railout .bg,
.enum.shipout .bg,
.enum.high .bg,
.enum.error .bg,
.enum.off .bg,
.enum.closemanually .bg,
.enum.deleted.bg,
.enum.railout.bg,
.enum.shipout.bg,
.enum.high.bg,
.enum.error.bg,
.enum.off.bg,
.enum.closemanually.bg {
  color: #ffffff;
  background-color: #f68484;
}
.enum.deleted i,
.enum.railout i,
.enum.shipout i,
.enum.high i,
.enum.error i,
.enum.off i,
.enum.closemanually i {
  color: #f68484;
}
.enum.deleted.time:after,
.enum.railout.time:after,
.enum.shipout.time:after,
.enum.high.time:after,
.enum.error.time:after,
.enum.off.time:after,
.enum.closemanually.time:after {
  color: #ffffff;
  background-color: #f68484;
}
.enum.debug .text,
.enum.dispatched .text {
  color: #ffcc66;
}
.enum.debug .bg,
.enum.dispatched .bg,
.enum.debug.bg,
.enum.dispatched.bg {
  color: #ffffff;
  background-color: #ffcc66;
}
.enum.debug i,
.enum.dispatched i {
  color: #ffcc66;
}
.enum.debug.time:after,
.enum.dispatched.time:after {
  color: #ffffff;
  background-color: #ffcc66;
}
.enum.hold .text {
  color: #f78db8;
}
.enum.hold .bg,
.enum.hold.bg {
  color: #ffffff;
  background-color: #f78db8;
}
.enum.hold i {
  color: #f78db8;
}
.enum.hold.time:after {
  color: #ffffff;
  background-color: #f78db8;
}
.enum.intransit .text,
.enum.low .text,
.enum.partiallyinvoiced .text {
  color: #d1b993;
}
.enum.intransit .bg,
.enum.low .bg,
.enum.partiallyinvoiced .bg,
.enum.intransit.bg,
.enum.low.bg,
.enum.partiallyinvoiced.bg {
  color: #ffffff;
  background-color: #d1b993;
}
.enum.intransit i,
.enum.low i,
.enum.partiallyinvoiced i {
  color: #d1b993;
}
.enum.intransit.time:after,
.enum.low.time:after,
.enum.partiallyinvoiced.time:after {
  color: #ffffff;
  background-color: #d1b993;
}
.enum.information .text,
.enum.closed .text,
.enum.invoiced .text {
  color: #97d3c5;
}
.enum.information .bg,
.enum.closed .bg,
.enum.invoiced .bg,
.enum.information.bg,
.enum.closed.bg,
.enum.invoiced.bg {
  color: #ffffff;
  background-color: #97d3c5;
}
.enum.information i,
.enum.closed i,
.enum.invoiced i {
  color: #97d3c5;
}
.enum.information.time:after,
.enum.closed.time:after,
.enum.invoiced.time:after {
  color: #ffffff;
  background-color: #97d3c5;
}
/* -----------------------------------------
    Timelines
----------------------------------------- */
.timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
}
.timeline:after {
  content: "";
  height: auto;
  width: 1px;
  background: #e3e3e3;
  position: absolute;
  top: 5px;
  left: 30px;
  bottom: 25px;
}
.timeline.timeline-icons li {
  padding-top: 2px;
}
.timeline.timeline-icons li:after {
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #e3e3e3;
  left: 14px;
  top: 0;
  z-index: 11;
}
.timeline.timeline-icons li .timeline-icon {
  position: absolute;
  left: 25px;
  top: 7px;
  z-index: 12;
  font-weight: bold;
  color: #FFF;
  font-size: 85%;
}
.timeline li {
  position: relative;
  padding-left: 60px;
  margin-bottom: 15px;
}
.timeline li:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #e3e3e3;
  position: absolute;
  left: 24px;
  top: 5px;
}
.timeline li .timeline-date {
  display: inline-block;
  width: 100%;
  color: #a6a6a6;
  font-style: italic;
}
.timeline li p {
  font-size: 13px;
}
/* ------------------ Todo widget --------------------*/
.todo-widget.orders .todo-period,
.todo-widget.invoices .todo-period {
  font-size: 14px;
}
.todo-widget.orders .todo-list .todo-task-item .todo-category,
.todo-widget.invoices .todo-list .todo-task-item .todo-category {
  float: right;
  margin-right: 18px;
}
.todo-widget.orders .todo-list .todo-task-item .todo-task-text a,
.todo-widget.invoices .todo-list .todo-task-item .todo-task-text a {
  color: #768399;
}
.todo-widget.orders .todo-list .todo-task-item .todo-task-text a:hover,
.todo-widget.invoices .todo-list .todo-task-item .todo-task-text a:hover {
  color: #75b9e6;
}
.todo-widget.orders .todo-list .todo-task-item .todo-task-text .small,
.todo-widget.invoices .todo-list .todo-task-item .todo-task-text .small {
  font-weight: normal;
}
.todo-widget.invoices .todo-list .todo-task-item:first-child {
  border-top: none;
}
/* ------------------ labels as per document type --------------------*/
.todo-widget .todo-list .todo-task-item.pdf .todo-priority i {
  color: #f68484;
}
.todo-widget .todo-list .todo-task-item.pdf .todo-category.label {
  background-color: #f68484;
}
.todo-widget .todo-list .todo-task-item.docx .todo-priority i,
.todo-widget .todo-list .todo-task-item.doc .todo-priority i,
.todo-widget .todo-list .todo-task-item.xlsx .todo-priority i,
.todo-widget .todo-list .todo-task-item.xls .todo-priority i {
  color: #71d398;
}
.todo-widget .todo-list .todo-task-item.docx .todo-category.label,
.todo-widget .todo-list .todo-task-item.doc .todo-category.label,
.todo-widget .todo-list .todo-task-item.xlsx .todo-category.label,
.todo-widget .todo-list .todo-task-item.xls .todo-category.label {
  background-color: #71d398;
}
.todo-widget .todo-list .todo-task-item.jpeg .todo-priority i,
.todo-widget .todo-list .todo-task-item.jpg .todo-priority i,
.todo-widget .todo-list .todo-task-item.gif .todo-priority i,
.todo-widget .todo-list .todo-task-item.png .todo-priority i {
  color: #af91e1;
}
.todo-widget .todo-list .todo-task-item.jpeg .todo-category.label,
.todo-widget .todo-list .todo-task-item.jpg .todo-category.label,
.todo-widget .todo-list .todo-task-item.gif .todo-category.label,
.todo-widget .todo-list .todo-task-item.png .todo-category.label {
  background-color: #af91e1;
}
/* ------------------ Recent users widget --------------------*/
ul.chat-widget li.chat-user:nth-child(even) {
  background: #f3f5f6;
}
ul.chat-widget li.chat-user:nth-child(even) .status {
  background: #f3f5f6;
}
ul.chat-widget li.chat-user:hover {
  background: #e4e9eb;
}
ul.chat-widget li.chat-user:hover .status {
  background: #e4e9eb;
}
ul.chat-widget li.chat-user .internal {
  position: absolute;
  left: 41px;
  top: 38px;
  color: #f68484;
  background: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
ul.chat-widget li.chat-user .internal i {
  font-size: 36px;
  margin-top: -10px;
  margin-left: -10px;
}
